body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

#lock-screen,
#content {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#lock-screen.show,
#content.show {
  opacity: 1;
}

#lock-screen.active {
  display: block;
}

#content.active {
  display: block;
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  z-index: 2;
}

.stars {
  width: 100%;
  height: 100%;
  background: transparent url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: twinkling 200s infinite linear;
}

@keyframes twinkling {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

/* password */
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
  margin-left: calc(50% - 95px);
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: rgb(246, 197, 245);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: rgb(246, 197, 245);
  transform: translateY(-30px);
}

/* unlock button */
.ubt {
  width: 100px;
  height: 45px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}

.ubt::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.ubt:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
  transition: 0.5s;
}

/* Chatbox Styles */
.chatbox {
  width: 120%;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#chat-input {
  width: calc(100% - 100px);
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

#send-message {
  width: 80px;
  padding: 10px;
  background-color: #100720;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#send-message:active {
  transform: scale(0.95);
  transition: 0.1s;
}

/* input */
.textInput::placeholder {
  transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  opacity: 1;
  user-select: none;
  color: rgba(255, 255, 255, 0.582);
}

.textInput {
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
  max-height: 36px;
  background-color: #252525;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: background-color;
  color: #e8e8e8;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.textInput:focus,
.textInput:active {
  outline: none;
}

.textInput,
.textInput:focus,
.textInput:active {
  background-color: #353535;
}

.textInput::placeholder {
  opacity: 0;
}

/* send button */
.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #40B3A2;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: .95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

/* send area */
.messageBox {
  width: calc(100% - 30px);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
}

.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

#messageInput {
  width: 200px;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
}

#messageInput:focus~#send-btn svg path,
#messageInput:valid~#send-btn svg path {
  fill: #3c3c3c;
  stroke: white;
}

#send-btn {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: auto;
}

#send-btn svg {
  height: 18px;
  transition: all 0.3s;
}

#send-btn svg path {
  transition: all 0.3s;
}

#send-btn:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}

.message-post {
  border-radius: 15px;
  margin: 15px 0;
  padding: 0 0 0 15px;
  max-width: 80%;
  word-wrap: break-word;
  position: relative;
  margin-right: auto;
}

.text {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 15px;
  margin: 15px 0;
  max-width: 80%;
  word-wrap: break-word;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  margin-right: auto;
  color: #ffffff;
}

.name {
  font-size: 14px;
  font-weight: bold;
  color: #76b9f2;
  text-align: left;
  margin-right: auto;
}

.message-self {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 15px;
  padding: 0 15px 0 0;
  margin: 15px 0;
  max-width: 80%;
  word-wrap: break-word;
  position: relative;
  margin-left: auto;
}

.name-self {
  font-size: 14px;
  font-weight: bold;
  color: #76b9f2;
  text-align: right;
}

.text-self {
  background-color: rgba(52, 152, 219, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 15px;
  margin: 15px 0;
  max-width: 80%;
  word-wrap: break-word;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: inline-block;
  position: relative;
}

.chat-container {
  max-width: 334px;
  width: calc(100%);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  background: #1c1c1c;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.input-area {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #1c1c1c;
  border-top: 1px solid #333;
  border-radius: 0 0 10px 10px;
}

.send {
  margin-top: 10px;
  padding: 10px;
  background-color: #00aaff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send:hover {
  background-color: #0077cc;
}